@model IEnumerable<WebLibrary.Web.Models.Books.BookViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublisherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                <a asp-action="DetailsPublisher" asp-controller="Publisher" asp-route-id="@item.PublisherId"> @Html.DisplayFor(modelItem => item.PublisherName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                @if (this.User.IsInRole("admin"))
                {
                        <a asp-action="DeleteBook" asp-route-id="@item.Id">Delete</a>
                        <a asp-action="EditBook" asp-route-id="@item.Id">Edit</a> 
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
